#forgot-password-container {
    /* display: flex;   */
    display: none; 
     /*initially it will be none  */
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 29vw;
    background-color: white;
    border-radius: 5px;
}

#forgot-password-container h1 {
    margin-top: 1rem;
    font-size: 1rem;
}

#forgot-password-input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#forgot-password-input-box input {
    margin-bottom: 1rem;  
}

#fgt-pass-input , #fgt-confirm-pass-input , #fgt-opt-input {
 display: none;
}

#forgot-password-btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

#forgot-password-btn-box button {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#forgot-timer-container {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}